{% extends "common/base.html" %}
{% block banner %}{% endblock banner %}
{% block banner_bottom %}{% endblock banner_bottom %}
{% block event %}{% endblock event %}
{% block blog_head %}{% endblock blog_head %}
{% block blog_part %}{% endblock blog_part %}
{% block blog_bottom %}{% endblock blog_bottom %}
{% block course_part %}{% endblock course_part %}
{% block counter_part %}{% endblock counter_part %}
{% block testimonial %}{% endblock testimonial %}
{% block teacher %}{% endblock teacher %}
{% block contact %}{% endblock contact %}


